# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
